@model IEnumerable<Articles.Main.Models.Blog>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">All Articles</h1>
</div>
<div class="container">
<div class="row">
@foreach (var item in Model){

  <div class="col-md-4">
    <div class="card" >
        <img src="@Html.DisplayFor(modelItem => item.image)" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h5>
            <a  asp-action="ReadMore" asp-route-id="@item.ID" class="btn btn-primary">Read more</a>
        </div>
    </div>
    </div>
}
</div>

   
 </div>
