@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h2>About us</h2>
<p>
    This is a blog system that allows you to post your thoughts <br>

   <b> to post</b>
   <ul>
       <li>Register</li>
       <li>Click on create link</li>
       <li>Create your post </li>
   </ul>
</p>

